Hello from notes index
<div class='input-group'>
  {{input class='form-control' valueBinding='newTitle'}}
  {{textarea class='form-control' valueBinding='newBody'}}
  {{input class='form-control' valueBinding='newPriorityLevel'}}
  <button {{action 'createNote'}}>Create Note</button>
</div>